@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 75px;
}

.bg-body-tertiary {
  padding: 10px 30px;
  margin-bottom: 20px;
}

.stockname {
  font-size: 30px;
  padding-left: 24px;
}

.stock-follow {
  margin-top: 20px;
}

#root {
  background-color: #f2f7fc;
}

.follow-button {
  margin-top: 0px !important;
}

.button-container {
  padding-top: 5px !important;
}

.chart-container {
  height: 400px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  margin-bottom: 20px !important;
}

.alert {
    width: 300px;
    margin-left: 20px;
}

.ticker-container {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  height: 70px;
}

.stock-grid-item {
  padding: 10px; /* Give some space around each grid item */
}

.stock-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  width: 100%;
}

.stock-info {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin-bottom: 4px; /* Space between info and percent */
}

.stock-name {
  font-size: 12px; /* Slightly larger font for visibility */
  font-weight: 600; /* Bolder font weight */
  color: #2978cf; /* Dark grey for better contrast */
}

.stock-price {
  font-size: 12px; /* Consistent font size with stock name */
  font-weight: 400; /* Regular font weight */
}

.stock-percent {
  font-size: 14px;
  font-weight: 400;
}

/* Specific color styles for performance indication */
.stock-card.red .stock-percent {
  color: #ff4d4f; /* Brighter red for negative values */
}

.stock-card.green .stock-percent {
  color: #29a329; /* Brighter green for positive values */
}

.arrow {
  display: inline-block; /* Align arrow with text */
  margin-left: 5px; /* Space between percent and arrow */
}

/* Extra Small Devices (phones) */
@media (max-width: 576px) {

  .css-tk088u-MuiGrid-root {
    padding: 24px 10px !important;
  }

  .stockname {
    font-size: 24px !important;
  }

  .follow-button {
    margin-left: 24px !important;
    margin-top: 10px !important;
  }

  .ticker-container {
    display: none;
  }  

  .content-container {
    padding-top: 150px;
}
}


.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 1100;
    margin-bottom: 20px; /* You might want to adjust this value based on your theme's z-index for the drawer */
}


/* Small Devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Your CSS rules for small screens go here */
}

/* Medium Devices (small desktops and laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Your CSS rules for medium screens go here */
}