body {
  font-family: 'Roboto', sans-serif;
}

.content-container {
  max-width: 1290px;
  margin: 0 auto;
}

.bg-body-tertiary {
  padding: 10px 30px;
  margin-bottom: 20px;
}

.stockname {
  font-size: 30px;
  padding-left: 24px;
}

.stock-follow {
  margin-top: 20px;
}

#root {
  background-color: #f2f7fc;
}

.follow-button {
  margin-top: 0px !important;
}

.button-container {
  padding-top: 5px !important;
}

.chart-container {
  height: 400px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  margin-bottom: 20px !important;
}


/* Extra Small Devices (phones) */
@media (max-width: 576px) {

  .css-tk088u-MuiGrid-root {
    padding: 24px 10px !important;
  }

  .stockname {
    font-size: 24px !important;
  }

  .follow-button {
    margin-left: 24px !important;
    margin-top: 10px !important;
  }
}

/* Small Devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Your CSS rules for small screens go here */
}

/* Medium Devices (small desktops and laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Your CSS rules for medium screens go here */
}