body {
  font-family: 'Roboto', sans-serif;
}

.content-container {
  max-width: 1290px;
  margin: 0 auto;
}

.bg-body-tertiary {
  padding: 10px 30px;
  margin-bottom: 20px;
}

.stockname {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}

